# Web framework
fastapi
uvicorn
python-multipart  # remove ==0.0.9

# ML / NLP
transformers
torch
spacy
scikit-learn
xgboost
numpy

# Computer Vision
opencv-python-headless
Pillow

# Database
motor
pymongo

# Async task queue
celery
redis
flower

# Utils
python-dotenv
pydantic
httpx

# Testing
pytest
pytest-asyncio
